<a href="https://colab.research.google.com/github/EmanRefaat/dataAnalyst/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statment in python

In [1]:
a=15
b=3
if a==b: print("two numbers are equal")
elif a< b: print("number2 is greater than number 1")
else: print("number 2 is smaller than number 1")

number 2 is smaller than number 1

In [2]:
7/2 # devision but will return float

3.5

In [3]:
7//2 # devision will retun integer

3

In [4]:
7%2 # remainder of divesion

1

In [5]:
a=-100
if a==0: print("Number is Zero")
elif a <0 : print("number is negative")
else: print("number is positive")

number is negative

In [6]:
for i in [1,2,3,4,5,6,7]:
  print(i)
  a=10
  print(a*10)

1
100
2
100
3
100
4
100
5
100
6
100
7
100

In [9]:
for i in range(1,10,2):
  print("2 X {} = ".format(i), i*2)

2 X 1 =  2
2 X 3 =  6
2 X 5 =  10
2 X 7 =  14
2 X 9 =  18

In [11]:
stop_var=5
iterate_var =5
# while this condition is true , run the block of code till the condition true.
while iterate_var == stop_var:
  print("this while and the item is : ", iterate_var)
  iterate_var +=1
print ("outside the while loop", iterate_var)

this while and the item is :  5
outside the while loop 6

In [12]:
stop_var=5
iterate_var =0
# while this condition is true , run the block of code till the condition true.
while True:
  print("this while and the item is : ", iterate_var)
  iterate_var +=1
  if iterate_var == stop_var : break
print ("outside the while loop", iterate_var)

this while and the item is :  0
this while and the item is :  1
this while and the item is :  2
this while and the item is :  3
this while and the item is :  4
outside the while loop 5

In [16]:
stop_var=5
iterate_var =0
# while this condition is true , run the block of code till the condition true.
while iterate_var < stop_var:

  iterate_var +=1
  if iterate_var == 2 : continue # here will skip the value 2 and dont peint it
  print("this while and the item is : ", iterate_var)
print ("outside the while loop", iterate_var)

this while and the item is :  1
this while and the item is :  3
this while and the item is :  4
this while and the item is :  5
outside the while loop 5

In [3]:
myList = ["Ali", "Mona", 10, 12.6, True, False, "Hanna"]
print(myList)

['Ali', 'Mona', 10, 12.6, True, False, 'Hanna']

In [20]:
print(myList[1])
print(myList[1:4])

Mona
['Mona', 10, 12.6]

In [21]:
len(myList)

7

In [22]:
type(myList)

list

In [23]:
if "Ali" in myList: print("Name is exist")

Name is exist

In [4]:
myList.insert(1,"Mona22") #insert in specific index into list
print(myList)

['Ali', 'Mona22', 'Mona', 10, 12.6, True, False, 'Hanna']

In [5]:
#append an item at the end of the list
myList.append("appEnd")
print(myList)

['Ali', 'Mona22', 'Mona', 10, 12.6, True, False, 'Hanna', 'appEnd']

In [6]:
myList.sort()
print(myList)

TypeError: ignored

In [7]:
#extend the list by adding another list
myList2 = ["Hanna", "Lily", "Yusuf"]
myList.extend(myList2)
print(myList)

['Ali', 'Mona', 'Mona22', 10, 12.6, True, False, 'Hanna', 'appEnd', 'Hanna', 'Lily', 'Yusuf']

In [8]:
myList.remove("Ali")
myList

['Mona',
 'Mona22',
 10,
 12.6,
 True,
 False,
 'Hanna',
 'appEnd',
 'Hanna',
 'Lily',
 'Yusuf']

In [9]:
# how to reverse list
print(myList2)
print(myList2[::-1])

['Hanna', 'Lily', 'Yusuf']
['Yusuf', 'Lily', 'Hanna']

In [12]:
help(myList.append("list")) # to know how to use this function

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [13]:
for item in myList: # loop in list
  print(item)

Mona
Mona22
10
12.6
True
False
Hanna
appEnd
Hanna
Lily
Yusuf
list

In [14]:
oldList =[100,20,2010,50,95,1021]
newList =[]
#convertion methods
for i in oldList:
  if i<100 :
    newList.append(i)

print(newList)

[20, 50, 95]

In [15]:
#list comprehension
newListc= [i for i in oldList if i<100]
print(newList)
print(newListc)

[20, 50, 95]
[20, 50, 95]

In [16]:
# to retun only name start with 'a' in list

l=["Sean", "Yusuf", "Ali", "Sara","Aml","Amer"]
l2=[i for i in l if "A" in i]
print(l2)

['Ali', 'Aml', 'Amer']

In [18]:
txt="python"
txtList= [i.upper() for i in txt]
print(txtList)

['P', 'Y', 'T', 'H', 'O', 'N']

In [2]:
#nest list
nList =[1,2,3,["ali","mona","hana"],10]
nList[3]

['ali', 'mona', 'hana']

In [3]:
nList[3][1] #second place in neste list

'mona'

In [17]:
word="london" # convert string into list
list(word.upper())

['L', 'O', 'N', 'D', 'O', 'N']

In [14]:
matrix = [[0,2,2],
          [3,4,2],
          [9,4,3],
          [9,10,11]]
rows=len(matrix)
cols= len(matrix[0])
for i in range(rows):
  print("-------- row",i)
  for j in range(cols):
    print(matrix[i][j])
print(matrix)

-------- row 0
0
2
2
-------- row 1
3
4
2
-------- row 2
9
4
3
-------- row 3
9
10
11
[[0, 2, 2], [3, 4, 2], [9, 4, 3], [9, 10, 11]]

In [16]:
myList = [[1,2,3,4],[5,6,7],['a','b','c'],['d','e']]
newList=[]
for i in range(len(myList)):
  for j in range(len(myList[i])):
    newList.append(myList[i][j])
print(newList)
#to make it in comprehension
print([j for i in myList for j in i ])

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']

### Dectionary

In [26]:
mdic ={"employee": "Zara",
        "department": ["operation","sales"],
        "last salary":5000.0}
print(mdic)
print(mdic["employee"])

{'employee': 'Zara', 'department': ['operation', 'sales'], 'last salary': 5000.0}
Zara

### Nested dictionary

In [21]:
mydic ={
    1:{"employee": "Zara", "department": ["operation","sales"],"last salary":5000.0},
    2:{"employee": "Mona", "department": "Marketing","last salary":8000.0}
         }
print(mydic)
print(mydic[2])
print(mydic[1]["employee"])

{1: {'employee': 'Zara', 'department': ['operation', 'sales'], 'last salary': 5000.0}, 2: {'employee': 'Mona', 'department': 'Marketing', 'last salary': 8000.0}}
{'employee': 'Mona', 'department': 'Marketing', 'last salary': 8000.0}
Zara

In [25]:
# update dictionary
mydic.update({"satus":"perment", "Level":3,"employee":"Hady"})
mydic

{1: {'employee': 'Zara',
  'department': ['operation', 'sales'],
  'last salary': 5000.0},
 2: {'employee': 'Mona', 'department': 'Marketing', 'last salary': 8000.0},
 'satus': 'perment',
 'Level': 3,
 'employee': 'Hady'}

In [28]:
mdic.update({"employee":"Sayed"})
mdic

{'employee': 'Sayed',
 'department': ['operation', 'sales'],
 'last salary': 5000.0}

In [29]:
for item in mdic:
  print(mdic[item])

Sayed
['operation', 'sales']
5000.0

In [30]:
for keys,values in mdic.items(): #tuples
  print(keys, values)
delete="employee"
mdic.pop(delete)
print("update dic")
for keys,values in mdic.items(): #tuples
  print(keys, values)

employee Sayed
department ['operation', 'sales']
last salary 5000.0
update dic
department ['operation', 'sales']
last salary 5000.0

### Tuple

In [32]:
mytup =("Audi","Ford","Tesla")
for i in range(len(mytup)) : print(mytup[i])

Audi
Ford
Tesla

In [33]:
# unpacking item
car1, car2, car3 = mytup
print(car2)

Ford